body{
    padding: 0;
    margin: 0;
}
.cont-general{
    padding-top: 2vhgit ;
    display: flexbox;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);


}
.cont-general H1 {
    margin: 0;
}
.cont-general img{
    width: 70%;
}
.carga-form{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.carga-form input{
    margin-top: 1vh;
}
.enviar{
    width: 20%;
    margin-left: 3vw;
}